@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@define-mixin atMedium {
  @media (min-width: 800px) {
    @mixin-content;
  }
}
@define-mixin atLarge {
  @media (min-width: 1010px) {
    @mixin-content;
  }
}
@define-mixin grid $cols, $gap: 2rem {
  display: grid;
  grid-template-columns: $cols;
  gap: $gap;
  align-items: start;
  @mixin-content;
  align-items: stretch;
  justify-items: stretch;
}
