@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 800px) {
    @mixin-content;
  }
}
@define-mixin atLarge {
  @media (min-width: 1200px) {
    @mixin-content;
  }
}
@define-mixin grid $cols: 1fr 2fr {
  display: grid;
  grid-template-columns: $cols;
  gap: 2rem;
  align-items: start;
  @mixin-content;
}
